.modal .modal-page-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.modal .modal-content h1.modal-heading {
    font-size: 25px;
}

.modal .modal-content div.modal-box {
    margin: 10px 0;
}
