.title {
    font-size: 35px;
    color: #f7f9f9;
    transition-property: all;
    transition-duration: 0.3s;
}

.title:hover {
    transform: scale(1.1);
}

.title:active {
    transform: scale(1.05);
}
